<div class="w3-col ">
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-bar w3-center">
      <h3><b>Loggin</b></h3>
    </div>
    <form id="login-form" class="w3-container">
      <label class="w3-text-blue"><b>Email</b></label>
      <input id="email-login" class="w3-input w3-border" type="email">
      <label class="w3-text-blue"><b>Password</b></label>
      <input id="password-login" class="w3-input w3-border w3-margin-bottom" type="password">
      <p>
        <button type="submit" class="w3-button w3-blue">LOGIN »</button>
        <button type="button" class="w3-button w3-green w3-right" onclick="window.location.replace('signup');">SIGNUP »</button>
      </p>
    </form>
  </div>
</div>

<script src="{{path}}/js/login.js"></script>