<div class="w3-col ">
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-bar w3-center">
      <h3><b>Signup</b></h3>
    </div>
    <form id="signup-form" class="w3-container">
      <label class="w3-text-green"><b>Username</b></label>
      <input id="username-signup" class="w3-input w3-border w3-margin-bottom" type="text">
      <label class="w3-text-green"><b>Email</b></label>
      <input id="email-signup" class="w3-input w3-border" type="email">
      <label class="w3-text-green"><b>Password</b></label>
      <input id="password-signup" class="w3-input w3-border w3-margin-bottom" type="password">
      <p>
        <button type="submit" class="w3-button w3-green">REGISTER »</button>
      </p>
    </form>
  </div>
</div>

<script src="{{path}}/js/signup.js"></script>
